<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Rama Krishna Arla</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header Section -->
    <div class="video-container">
        <video autoplay muted loop>
            <source src="assets/rk.mp4" type="video/mp4">
            <!-- Add other sources for different video formats if needed -->
            Your browser does not support the video tag.
        </video>
        <div class="header-text">
            <div class="container">
                <h1 class="display-4">Rama Krishna Arla</h1>
                <p class="lead">Sr Full Stack Developer</p>
                <a href="#about" class="btn btn-outline-light mt-3">Learn More</a>
            </div>
        </div>
    </div>

    <!-- About Section -->
    <section id="about" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex align-items-center">
                    <div>
                        <h2>About Me</h2>
                        <p>I am Rama Krishna Arla. With over a decade of hands-on experience as a Senior Full Stack Developer, I have honed my skills in designing, developing, and deploying robust web applications. My journey through the tech industry has equipped me with a deep understanding of both front-end and back-end technologies, enabling me to create seamless and efficient digital experiences. Throughout my career, I have been committed to continuous learning and staying abreast of the latest technological advancements. This dedication has allowed me to deliver innovative solutions that not only meet but exceed client expectations. I thrive in collaborative environments, working closely with cross-functional teams to bring complex projects to fruition. My strong problem-solving skills and attention to detail ensure that I can tackle any challenge head-on.</p>
                        <a href="/assets/Ramakrishna-Arla-Resume.docx" download="Ramakrishna Arla Resume.docx" class="btn btn-primary mt-3">Download Resume</a>
                    </div>
                </div>
                <div class="col-lg-5 text-center">
                    <img src="assets/images/krishna.JPG" alt="Profile" class="img-fluid profile-img">
                </div>
            </div>
        </div>
    </section>

    <!-- Projects Section -->
   <!-- Projects Section -->
<!-- Projects Section -->
<section id="projects" class="bg-light py-5">
    <div class="container">
        <h2 class="text-center mb-5">Projects</h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card h-100 project-card">
                    <div class="card-body">
                        <h5 class="card-title">CRUD OPERATIONS</h5>
                        <p class="card-text">I developed a comprehensive CRUD (Create, Read, Update, Delete) application utilizing Angular for the front-end and Spring Boot for the back-end. This project highlights my ability to seamlessly integrate modern front-end frameworks with robust back-end technologies to create efficient and user-friendly web applications.</p>
                    </div>
                    <div class="card-footer">
                        <a  class="btn btn-primary btn-block btn-view-project">View Project</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100 project-card">
                    <div class="card-body">
                        <h5 class="card-title">Hospital Website</h5>
                        <p class="card-text">I have developed a comprehensive hospital website aimed at enhancing patient care and accessibility to healthcare services. This website serves as a vital platform for patients, healthcare professionals, and visitors alike, providing seamless navigation and essential information. The hospital website offers a user-friendly interface designed to meet the diverse needs of our community.</p>
                    </div>
                    <div class="card-footer">
                        <a  class="btn btn-primary btn-block btn-view-project">View Project</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100 project-card">
                    <div class="card-body">
                        <h5 class="card-title">E-Commerce Website</h5>
                        <p class="card-text">I have developed an innovative e-commerce platform designed to revolutionize online shopping experiences. Our website offers a seamless and intuitive interface that caters to both buyers and sellers, providing a robust marketplace for a wide range of products. For shoppers, our e-commerce website offers a personalized and secure shopping experience.</p>
                    </div>
                    <div class="card-footer">
                        <a  class="btn btn-primary btn-block btn-view-project">View Project</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Professional Experience Section -->
<section id="experience" class="py-5 bg-light">
    <div class="container">
        <h2 class="text-center mb-5">Professional Experience</h2>
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card mb-4 project-card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Jr Software Engineer</h5>
                        <p class="card-text">Mphasis, Chennai, India</p>
                        <p class="card-text">Years of Experience: 2 years</p>
                        <p class="card-text">Job Details: .Applied OOP concepts, collections, exception handling, I/O systems, annotations, concurrency, multi-threading, lambda expressions, and generics in various projects.
                            •	Developed JMS publisher and subscriber components to facilitate asynchronous message processing.
                            •	Developed robust error handling and retry mechanisms for JMS message processing.
                            •	Optimized JMS message producers and consumers to enhance throughput and reduce latency.
                            </p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary btn-block btn-view-project">View Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="education" class="py-5">
    <div class="container">
        <h2 class="text-center mb-5">Education</h2>
        <div class="row">
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Bachelors in Computer Science</h5>
                        <p class="card-text">K L University, Guntur, India</p>
                        <p class="card-text">Graduated: May 2020</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Master of Science in Information Technology</h5>
                        <p class="card-text">Central Michigan University, Mount pleasant, Michigan</p>
                        <p class="card-text">Graduated: May 2024</p>
                    </div>
                </div>
            </div>
            <!-- Add more education cards as needed -->
        </div>
    </div>
</section>



    <!-- Contact Section -->
    <section id="contact" class="py-5 bg-light">
        <div class="container">
            <h2 class="text-center mb-5">Contact Me</h2>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Your Name</label>
                                    <input type="text" class="form-control" id="name" placeholder="Enter your name" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">Your Email</label>
                                    <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="message">Your Message</label>
                            <textarea class="form-control" id="message" rows="4" placeholder="Enter your message" required></textarea>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-lg">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    

    <!-- Footer -->
    <footer class="bg-dark text-white text-center py-4">
        <p>&copy; 2024 Rama Krishna Arla. All Rights Reserved.</p>
        <div class="social-icons">
            <a href="https://www.facebook.com/" target="_blank" class="text-white mr-3"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/" target="_blank" class="text-white mr-3"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/feed/" target="_blank" class="text-white mr-3"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
